<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#Dictionary
info = {
    "key": "Value",
    "name": "shishir",
    "class": "python",
    "age": 26,
    "subjects": ['python', 'c'],
    12.9 : 30,
    "topics": ("dict", "set",)

}
null_dict = {

}
print(null_dict)
info['name'] = "Laddus"
info['surname'] = "tiwari"
print(info)
print(type(info))

{}
{'key': 'Value', 'name': 'Laddus', 'class': 'python', 'age': 26, 'subjects': ['python', 'c'], 12.9: 30, 'topics': ('dict', 'set'), 'surname': 'tiwari'}
<class 'dict'>

In [24]:
#nested dictionary
student = {
    "name": "rahul kumar",
    "subjects": {
        "phy": 98,
        "math": 99
    }
}
print(student)
print(student['subjects'])
print(student['subjects']['phy'])
print(student.keys())
print(list(student.keys()))
print(len(student))
print(student.values())

{'name': 'rahul kumar', 'subjects': {'phy': 98, 'math': 99}}
{'phy': 98, 'math': 99}
98
dict_keys(['name', 'subjects'])
['name', 'subjects']
2
dict_values(['rahul kumar', {'phy': 98, 'math': 99}])

In [25]:
print(list(student.values()))

['rahul kumar', {'phy': 98, 'math': 99}]

In [26]:
print(student.items())

dict_items([('name', 'rahul kumar'), ('subjects', {'phy': 98, 'math': 99})])

In [31]:
print(student.get('name'))

rahul kumar

In [34]:
#update
student.update({'city': 'Kathmandu'})
print(student)

{'name': 'rahul kumar', 'subjects': {'phy': 98, 'math': 99}, 'city': 'Kathmandu'}

In [36]:
student.update({'qulification': 'batcholr'})
print(student)

{'name': 'rahul kumar', 'subjects': {'phy': 98, 'math': 99}, 'city': 'Kathmandu', 'qulification': 'batcholr'}

In [42]:
new_dict = {'car': ['Toyota', 'range Rover']}
student.update(new_dict)
print(student)

{'name': 'rahul kumar', 'subjects': {'phy': 98, 'math': 99}, 'city': 'Kathmandu', 'qulification': 'batcholr', 'car': ['Toyota', 'range Rover']}

In [44]:
#SET
collection = {1,2,4,}
print(collection)
print(type(collection))

{1, 2, 4}
<class 'set'>

In [49]:
#set ignore duplicate value
coll = {1,2,2,2,3,'hello', 'world', 'world',4}
print(coll)
print(type(coll))
print(len(coll)) #duplicate are not allowed in set

{1, 2, 3, 4, 'hello', 'world'}
<class 'set'>
6

In [52]:
#if you create empty set then
set1 = {}
print(type(set1))

set2 = set()
print(type(set2))

<class 'dict'>
<class 'set'>

In [59]:
#set is mutable but elements of set is immutable
#value add
set2.add(1)
set2.add(2)
set2.add(2)

#value remove
set2.remove(2)
set2.add('dataScience')

#passing tupple
set2.add((5,6,7))
print(set2)

{(5, 6, 7), 1, 'dataScience'}

In [61]:
#clear
set2.clear()
print(len(set2))

0

In [64]:
#pop
set3 = {'hello', 'world', 'sewa', 'factory', 'college', 30.5,18}
print(set3.pop())
print(set3.pop())
print(set3.pop())

18
sewa
hello

In [66]:
#Union
set4 = {1,2,3,4}
set5 ={5,6,3,7}

print(set4.union(set5))

#Intersection
print(set4.intersection(set5))

{1, 2, 3, 4, 5, 6, 7}
{3}

In [72]:
#store following word meanings in a python dictionary
meaning = {
    "table": ["a piece of furniture", 'list of facts and figures'],
    "cat": "a small animal"
}
print(meaning)
print(meaning["table"])

{'table': ['a piece of furniture', 'list of facts and figures'], 'cat': 'a small animal'}
['a piece of furniture', 'list of facts and figures']

In [8]:
dict1 = {"name": "mike",
         "salary": 8000}

temp = dict1.get("age")
print(temp)
print(dict1.pop("salary"))
print(dict1)

None
8000
{'name': 'mike'}

In [5]:
dict1 = {"key1": 1, "key2": 2}
dict2 = {"key2":2, "key1": 1}
print(dict1 == dict2)
dict1.clear()
print(dict1)

True
{}

In [16]:
student = {
    1:{
    "name": "Mike",
    "age": 27,
    "gender": "Male"
    },
    2:{
        "name": "Emma",
        "age": 31,
        "gender": "Female"
    },
    3: {

    }
}

print(student)
print(student[2]["gender"])
print(student.get(1))

{1: {'name': 'Mike', 'age': 27, 'gender': 'Male'}, 2: {'name': 'Emma', 'age': 31, 'gender': 'Female'}, 3: {}}
Female
{'name': 'Mike', 'age': 27, 'gender': 'Male'}