<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/Dictionary_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [3]:
res_dict= dict(zip(keys, values))
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [5]:
#using for loop and update
res_dict=dict()

for i in range(len(keys)):
  res_dict.update({keys[i]: values[i]})
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [9]:
#merge two python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

merge = {**dict1,**dict2}
print(merge)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [10]:
dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [13]:
#Print the value of key 'history' from the below dict
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "Physics": 70,
                "history": 80
            }
        }
    }
}

sample = sampleDict['class']['student']['marks']['history']
print(sample)

80

In [15]:
#Initilize dictionary with default values
employes = ['Kellay', 'Emma']
defaults = {
    'designation': 'Developer',
    'salary': 8000
}

res = dict.fromkeys(employes, defaults)
print(res)
print(res['Emma'])

{'Kellay': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}
{'designation': 'Developer', 'salary': 8000}

In [20]:
#create a dictionary by extracting the keys from a given dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
#keys to extract
keys = ['name', 'salary']

In [23]:
#using the update() method and loop

#new dict
res = dict()

for k in keys:
  res.update({k: sample_dict[k]})
print(res)

{'name': 'Kelly', 'salary': 8000}

In [24]:
#Dictionary comprehension
newDict = {k: sample_dict[k] for k in keys}
print(newDict)

{'name': 'Kelly', 'salary': 8000}

In [30]:
#Delete a list of keys from a dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

#keys to remove
keys = ["name", "salary"]

In [31]:
#Using the pop() method and loop
for k in keys:
  sample_dict.pop(k)
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [32]:
#Dictionary comprehension
sample_dict = {k: sample_dict[k] for k in sample_dict.keys()-keys}
print(sample_dict)

{'city': 'New york', 'age': 25}

In [38]:
#check if a value exists in a dictionary
sample_dict = {'a': 100, 'b': 200, 'c': 300}

if 200 in sample_dict.values():
  print('200 present in a dict')
else:
  print("error")

200 present in a dict

In [39]:
#Rename key of dictionary
#WAP to rename a key city to location in the following dictionary

sample_dict = {
    'name': 'Kelly',
    'age': 25,
    'salary': 8000,
    'city': 'New york'
}
sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [42]:
#get the key of a minimum value from the following dictionary
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}

print(min(sample_dict, key=sample_dict.get))

Math

In [43]:
#change value of a key in a nested dictionary
#WAP to change Brad's salary to 8500 in the following dictionary

sample_dict = {
    'emp1': {'name': 'John', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 6500}
}

sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [52]:
#copying dictionary
dict1 =  {
    'a': 1,
    'b': 2
}
dict2 = {
    'c': 3,
    'd': 4
}

dic3 = dict1.copy()
print(dic3)

dic3['b']
print(dic3['b'])

dict4= dict2
print(dict4)

#merge
dict5 = {**dict1, **dict2}
print(dict5)

{'a': 1, 'b': 2}
2
{'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}