<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/functionDay2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#convert usd to inr
currency = float(input('Enter USD: '))
def usd_to_inr(currency):
  return currency * 83

print(usd_to_inr(currency))

Enter USD: 1
83.0

In [25]:
#WAF to find odd and even number
n = int(input('Enter number: '))
def odd_num(n):
  if n%2 != 0:
    print('Odd')

  else:
    print('Even')

odd_num(n)

Enter number: 20
Even

In [4]:
 #Recursion
 n = int(input('Enter number: '))
 def show(n):
  if (n==0):
    return
  print(n)
  show(n-1)
  print('End')

show(n)

Enter number: 5
5
4
3
2
1
End
End
End
End
End

In [5]:
#Recursion: factorial
def fact(n):
  if(n == 1 or n == 0):
    return 1
  return fact(n-1) * n

print(fact(4))

24

In [10]:
#write a recursive function to calculate the sum of first n ntural numbers:
def natural(n):
  if n == 0:
    return 0

  return natural(n-1) + n
print(natural(10))

55

In [14]:
#write a recursive function to print all elements in a list
def print_list(list, idx = 0):
  if (idx == len(list)):
    return
  print(list[idx])
  print_list(list, idx+1)

fruits = ['apple', 'mango', 'banana', 'grapes', 'orange']

print_list(fruits)

apple
mango
banana
grapes
orange

In [19]:
#write a program to create a function that takes two arguments, name and age and print their value
def func(name, age):
  return name, age

nam = 'shishir'
ag = '25'

print(func(nam, ag))

('shishir', '25')

In [20]:
def func(name, age):
  print(name, age)

func('shishir', 25)

shishir 25

In [23]:
#create a function with variable length of arguments
def percentage(sub1, sub2, sub3):
  avg = (sub1 + sub2 + sub3) / 3
  print('average', avg)

percentage(51, 65, 73)

average 63.0

In [26]:
#function with variable length arguments
def percentage(*args):
  sum = 0
  for i in args:
    sum = sum + i

  avg = sum / len(args)
  print('Average = ', avg)

percentage(56,31,67,88,76, 90, 99)

Average =  72.42857142857143

In [27]:
def percentage(*subjects):
  sum = 0
  for i in subjects:
    sum = sum + i
  avg = sum / len(subjects)
  print('Average = ', avg)

percentage(81, 55, 65, 78)

Average =  69.75

In [28]:
#Arbitary keyword arguments (**kwargs)
def percentage(**kwargs):
  sum = 0
  for sub in kwargs:
    #get arguments name
    sub_name = sub

    #get arguments value
    sub_marks = kwargs[sub]

    print(sub_name, '=', sub_marks)

#pass multiple keyword arguments
percentage(math=56, science=61, english=54)

math = 56
science = 61
english = 54

In [29]:
#create a function with variable length of arguments
def fun(*args):
  return args
  print(args)

fun(2,3,4,5)

(2, 3, 4, 5)

In [36]:
def func1(*args):
  for i in args:
    print(i, end=' ')

func1(1,2,3,4,5)
func1(5,6,7,8,9,0,1,2)
func1('shishir', 'mahesh','laddu')

1 2 3 4 5 5 6 7 8 9 0 1 2 shishir mahesh laddu

In [41]:
#Non-Keyword arguments (*args)
#allows a function to accept any number of positional arguments
#arguments are received as tuple
def sum_numbers(*args):

  return sum(args)
  print(sum_numbers(args))

print(sum_numbers(1,2,3))
print(sum_numbers(4,5,6,7))

6
22

In [42]:
#with loop
def print_names(*names):
  for name in names:
    print(name)

print_names('Alice', 'John', 'Jagdish')

Alice
John
Jagdish

In [45]:
#kwargs
def func1(**kwargs):
  for key, value in kwargs.items():
    print(f'{key}: {value}')

func1(name = 'Alice', age='25', country = 'USA')
func1(mob= 989898, pro = 'cs')

name: Alice
age: 25
country: USA
mob: 989898
pro: cs

In [51]:
#using both *args and *kwargs
def person_info(name, *args, **kwargs):
  print(f'Name: {name}')
  print(f'Other details: {args}')
  print(f'Additional Info: {kwargs}')

person_info('Alice', 25, 'data scientist', city = 'New york', country='USA')

Name: Alice
Other details: (25, 'data scientist')
Additional Info: {'city': 'New york', 'country': 'USA'}

In [58]:
#Return multiple values from a function
#Addition and subtraction
def calculation(a, b):
  sum = a+b
  sub = a-b
  return sum, sub


res = calculation(10,5)
print(res)

(15, 5)

In [59]:
def calculation(a, b):
  return a+b, a-b

add, sub = calculation(40,10)
print(add, sub)

50 30

In [64]:
#create a function with default argument
def show_employee(name, salary = '9000'):
  print('Name:', name,', ' ' Salary: ', salary)

show_employee('Alice', 12000)
show_employee('John')

Name: Alice ,  Salary:  12000
Name: John ,  Salary:  9000

In [67]:
#Create an inner function to calculate the addition in the following way
def outer_func(a, b):
  square = a**2

  def inner_func(a, b):
    return a+b
  #call inner function from outer function
  add = inner_func(a, b)

  return add + 5

result = outer_func(10,10)
print(result)

25

In [68]:
#outer and inner function
def outer_func(a, b):
  def inner_func(a, b):
    return a + b
  add = inner_func(a, b)

  return add + 5
result = outer_func(10,10)
print(result)

25

In [71]:
#Recursive function
#WAP to create a recursive function to calculate the sum of numbers from 0 to 10
def addition(num):
  if num:
    return num + addition(num - 1)
  else:
    return 0

res = addition(10)
print(res)

55

In [78]:
#assign  a different name to function and call it through the new name
def display_student(name, age):
  print(name, age)

display_student('Emma', 26)
show_student = display_student
show_student('Emms', 25)

Emma 26
Emms 25

In [79]:
#Generate a python list of all the even numbers between  4 to 30
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [80]:
#find the largest item from a given list
a = [4,6,8,24,12,2]
print(max(a))

24

In [1]:
def func1(name, age=20):
  print(name, age)
func1('Emma', 25)

Emma 25

In [2]:
def display(**kwargs):
  for i in kwargs:
    print(i)
display(emp='Kally', salary=9000)

emp
salary

In [3]:
def outer_fun(a, b):
  def inner_fun(c, d):
    return c+d
  return inner_fun(a, b)

res = outer_fun(5, 10)
print(res)

15

In [4]:
def add(a, b):
  return a+5, b+5
result = add(3, 2)
print(result)

(8, 7)

In [9]:
def fun1(name, age):
  print(name, age)

fun1('Emma', age=23)
fun1(age=23, name='Emma')

Emma 23
Emma 23

In [11]:
def fun1(*data):
  print(data)
fun1(25, 75, 55)
fun1(10, 20)

(25, 75, 55)
(10, 20)

In [13]:
def fun1(num):
  return num + 25

print(fun1(5))

30

In [14]:
def outer_fun(a, b):
  def inner_fun(c, d):
    return c+d

  return inner_fun(a, b)
  return a
result = outer_fun(5, 10)
print(result)

15

In [16]:
def display_person(*args):
  for i in args:
    print(i)
display_person('Emma','25')

Emma
25

In [17]:
#WA function to return the square of a number
def square_num(n):
  return n*n
  print(n)
square_num(5)

25

In [18]:
#WA function that takes two numbers and return their sum
def sum_num(a, b):
  sum = a + b
  return sum
  print(sum)
sum_num(3, 5)

8

In [21]:
#WA function to check if number is odd or even
def odd_even(n):
  if n%2 != 0:
    print('Odd')
  else:
    print('Even')
odd_even(5)

Odd

In [25]:
#WA function that takes name as input and return 'Hello, Alice'
def call(name):

  print('Hello, ', name)
call('Alice')

Hello,  Alice

In [26]:
#WA function that takes a string and returns its length
def string_length(length):
  return len(length)
print(string_length('python'))

6

In [27]:
#WA function that takes a list of numbers and returns the maximum number
def max_number(mx):
  return max(mx)
num = [3,4,5,6,7,8,9]
print(max_number(num))

9

In [29]:
#WA function to check if number is prime
def check_num(num):
  if num <= 1:
    return False

  for i in range(2, num):
    if num % i == 0:
      return False
  return True

print(check_num(11))
print(check_num(12))

True
False