<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/functionDay2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#convert usd to inr
currency = float(input('Enter USD: '))
def usd_to_inr(currency):
  return currency * 83

print(usd_to_inr(currency))

Enter USD: 1
83.0

In [25]:
#WAF to find odd and even number
n = int(input('Enter number: '))
def odd_num(n):
  if n%2 != 0:
    print('Odd')

  else:
    print('Even')

odd_num(n)

Enter number: 20
Even

In [4]:
 #Recursion
 n = int(input('Enter number: '))
 def show(n):
  if (n==0):
    return
  print(n)
  show(n-1)
  print('End')

show(n)

Enter number: 5
5
4
3
2
1
End
End
End
End
End

In [5]:
#Recursion: factorial
def fact(n):
  if(n == 1 or n == 0):
    return 1
  return fact(n-1) * n

print(fact(4))

24

In [10]:
#write a recursive function to calculate the sum of first n ntural numbers:
def natural(n):
  if n == 0:
    return 0

  return natural(n-1) + n
print(natural(10))

55

In [14]:
#write a recursive function to print all elements in a list
def print_list(list, idx = 0):
  if (idx == len(list)):
    return
  print(list[idx])
  print_list(list, idx+1)

fruits = ['apple', 'mango', 'banana', 'grapes', 'orange']

print_list(fruits)

apple
mango
banana
grapes
orange

In [19]:
#write a program to create a function that takes two arguments, name and age and print their value
def func(name, age):
  return name, age

nam = 'shishir'
ag = '25'

print(func(nam, ag))

('shishir', '25')

In [20]:
def func(name, age):
  print(name, age)

func('shishir', 25)

shishir 25

In [23]:
#create a function with variable length of arguments
def percentage(sub1, sub2, sub3):
  avg = (sub1 + sub2 + sub3) / 3
  print('average', avg)

percentage(51, 65, 73)

average 63.0

In [26]:
#function with variable length arguments
def percentage(*args):
  sum = 0
  for i in args:
    sum = sum + i

  avg = sum / len(args)
  print('Average = ', avg)

percentage(56,31,67,88,76, 90, 99)

Average =  72.42857142857143

In [27]:
def percentage(*subjects):
  sum = 0
  for i in subjects:
    sum = sum + i
  avg = sum / len(subjects)
  print('Average = ', avg)

percentage(81, 55, 65, 78)

Average =  69.75

In [28]:
#Arbitary keyword arguments (**kwargs)
def percentage(**kwargs):
  sum = 0
  for sub in kwargs:
    #get arguments name
    sub_name = sub

    #get arguments value
    sub_marks = kwargs[sub]

    print(sub_name, '=', sub_marks)

#pass multiple keyword arguments
percentage(math=56, science=61, english=54)

math = 56
science = 61
english = 54