<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/loopExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for l in 'john':
  if l=='o':
    pass
  print(l, end=", ")

j, o, h, n,

In [4]:
for num in range(10,14):
  for i in range(2, num):
    if num%i ==1:
      print(num)
      break

10
11
12
13

In [7]:
numbers = [10,20]
items =['chair', 'table']

for a in numbers:
  for b in items:
    print(a, b)

10 chair
10 table
20 chair
20 table

In [8]:
for num in range(2,-5,-1):
  print(num, end=", ")

2, 1, 0, -1, -2, -3, -4,

In [9]:
for num in range(-2,-5,-1):
  print(num, end=', ')

-2, -3, -4,

In [10]:
a = 0
while(a < 100):
  a+=2
print(a)

100

In [18]:
a, b = 12, 5
if a+b:
  print('True')
else:
  print('False')

True

In [12]:
a = ['ram','sishir']

In [13]:
a

['ram', 'sishir']

In [15]:
a.append('Abishek')
print(a)

['ram', ['Laddu'], 'Abishek']

In [17]:
a[1] = 'laddu'
a

['ram', 'laddu', 'Abishek']

In [19]:
a, b = 12, 5
if a+b:
  print('True')
else:
  print('False')

True

In [20]:
a = 0
b = 5
c = 5
if b>0:
  if c < 0:
    a = a + 5
  elif b>5:
    a = a+4
  else:
    a = a+3
else:
  a = a+2
print(a)

3

In [21]:
v = 0
a = 0
b = -5
if a>0:
  if b <0:
    v = v+5
  elif a > 5:
    v = v + 4
  else:
    v= v+3
else:
  v = v+2
print(v)

2

In [22]:
var = 10
for i in range(10):
  for j in range(2,10,1):
    if var % 2 ==0:
      continue
      var += 1
  var+=1
else:
  var+=1
print(var)

21

In [23]:
a = 0
for i in range(10):
  for j in range(-1, -10, -1):
    a +=1
    print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90