<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/loopDay2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
nums = [1,4,9,16,25,36,49,64,81,100,36]
x = 36
i = 0
while i<=len(nums):
  if (nums[i]==x):
    print("Found at index: ", i)
    break
  else:
    print('Finding...')
    i+=1
print('End of loop')

Finding...
Finding...
Finding...
Finding...
Finding...
Found at index:  5
End of loop

In [11]:
i = 0
while i <= 5:
  if(i==3):
    i+=1
    continue
  print(i)
  i+=1

0
1
2
4
5

In [1]:
#print odd number
i = 0
while i<=10:
  if (i%2==0):
    i+=1
    continue
  print(i)
  i+=1

1
3
5
7
9

In [7]:
#print even number
i = 0
while i<=10:
  if(i%2 != 0):
    i+=1
    continue
  print(i)
  i+=1

0
2
4
6
8
10

In [8]:
list = [1,2,3,4,5,6]
for el in list:
  print(el)

1
2
3
4
5
6

In [9]:
vegiees = ['potato', 'brinjle', 'onion']
for val in vegiees:
  print(val)

potato
brinjle
onion

In [12]:
tup = (1,2,3,4,5,6,7)
for num in tup:
  print(tup)

(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7)

In [13]:
str = 'Mahesh'
for char in str:
  print(char)

M
a
h
e
s
h

In [14]:
str = 'sewa factory'
for char in str:
  print(char)
else:
  print("end ")

s
e
w
a

f
a
c
t
o
r
y
end

In [17]:
str = 'college'
for char in str:
  if (char == 'e'):
    print('e found')
    break
  print(char)
else:
  print('end')

c
o
l
l
e found

In [18]:
#print the elements of the following list using  a loop:
num =[1,4,9,16,25,36,49,64,81,100]
for i in num:
  print(i)

1
4
9
16
25
36
49
64
81
100

In [20]:
#search for a number a in this tuple using loop
tup = (1,4,9,16,25,36,49,64,81,100,81)
a = 81
for i in range(len(tup)):
  if (tup[i]==a):
    print('found at index: ', i)

found at index:  8
found at index:  10

In [21]:
nums = (1,2,3,4,5,6,7,8,99)
a = 8

i = 0
for b in nums:
  if(b==a):
    print("found", i)
  i+=1

found 7

In [30]:
#print numbers from 1 to 100
for i in range(101):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [25]:
#prints numbers from 100 to 1
for i in range(100,0,-1):
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [29]:
#print the multiplication table of number
n = int(input("enter number: "))
for i in range(1,11):
  print(n*i)

enter number: 7
7
14
21
28
35
42
49
56
63
70

In [41]:
#wap to find the sum of first n numbers using while loop
n = int(input('enter number: '))
a = 0
while a <=10:
  a+=n
  print(a + n)

enter number: 2
4
6
8
10
12
14

In [37]:
n = 5
sum = 0
for i in range(1,n+1):
  sum+=i
print("total: ", sum)

total:  15

In [45]:
#wap to find the factorial of first n numbers. using whle loop
n = int(input("enter number: "))

fact = 1
i=1
while i <=n:
  fact*=i
  i+=1
print("Factorial: ", fact, i)

enter number: 5
Factorial:  120 6

In [48]:
#for loop
n = int(input("Enter number: "))
fact = 1
for i in range(1, n+1):
  fact *= i
print("Factorial: ", fact)

Enter number: 5
Factorial:  120

In [50]:
#print the first 10 natural number using while loop
i =1
while i<=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10