<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/LoopDay6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
total_num = 10
a=1
while a <=10:
  print(a, end=' ')
  a+=1

1 2 3 4 5 6 7 8 9 10

In [8]:
row = 5
for i in range(0, row):
  for j in range(1, i+2):
    print(j, end=' ')
  print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [23]:
n = int(input("Enter number: "))
s = 0
for i in range(1, n+1, 1):
  s+=i
print(s)

Enter number: 11
66

In [21]:
s = 0
n = int(input('Enter number: '))
for i in range(1, n+1, 1):
  s+=i
print(s)

Enter number: 10
55

In [33]:
#multiplication table
n = int(input('Enter number: '))
s = 10
for i in range(1,s+1,1):
  multiply = n*i
  print(multiply)

Enter number: 10
10
20
30
40
50
60
70
80
90
100

In [42]:
#display numbers from a list using a loop
num = [12, 75, 150, 180, 145, 525, 50]

for i in num:
  if i >500:
    break
  elif i > 150:
    continue
  elif i % 5 == 0:
    print(i)

75
150
145

In [54]:
num= 7586910
counter = 0
while num != 0:
  num = num//10
  counter += 1
print(counter)

7

In [56]:
#print the pattern
rows = 5
for i in range(rows, 0, -1):
  for j in range(i, 0, -1):
    print(j, end=' ')
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [66]:
#print list in reverse order
list1 = [10,20,30,40,50]
length = len(list1)

for i in range(length-1, -1, -1):
  print(list1[i])

50
40
30
20
10

In [69]:
for i in range(-10,0,1):
  print(i)
print(' Done!')

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
 Done!

In [74]:
start = 25
stop = 50
for num in range(start, stop+1):
  if num >1:
    for i in range(2, num):
      if (num%i) == 0:
        break
    else:
      print(num)

29
31
37
41
43
47

In [75]:
n = int(input('Enter number: '))
num1 = 0
num2 = 1

for i in range(n):
  print(num1, end=' ')
  res = num1 + num2

  num1=num2
  num2=res

Enter number: 10
0 1 1 2 3 5 8 13 21 34

In [80]:
#factorial number
factorial = 1
n = int(input('Enter number: '))
for i in range(n, 0, -1):
  factorial = factorial * i
print(factorial)

Enter number: 5
120

In [82]:
#Reverse integer number
num = 76542
reverse_number = 0
print('Given Number ', num)
while num > 0:
  reminder = num % 10
  reverse_number = (reverse_number * 10) + reminder
  num = num//10
print('Reverse Number', reverse_number)

Given Number  76542
Reverse Number 24567

In [86]:
#Print elements from a given list present at odd inde positions
my_list = [10,20,30,40,50,60,70,80,90,100]

for i in my_list[1::2]:
  print(i, end=' ')

20 40 60 80 100

In [88]:
#calculating cube number
num = int(input('Enter number: '))
for i in range(1,num+1, 1):
  print('Cube of', i, 'is', i**3)

Enter number: 6
Cube of 1 is 1
Cube of 2 is 8
Cube of 3 is 27
Cube of 4 is 64
Cube of 5 is 125
Cube of 6 is 216

In [90]:
#WAP to calculate the sum of series up to n terms
n = 5
start = 2
sum_seq = 0
for i in range(0, n):
  print(start, end='+')
  sum_seq+=start
  start = start * 10 + 2
print('=', sum_seq)

2+22+222+2222+22222+= 24690

In [94]:
#print the pattern
rows = 5
for i in range(0, rows):
  for j in range(0, i+1):
    print('*', end='')
  print()

for i in range(rows-1, -1, -1):
  for j in range(i,0,-1):
    print('*', end='')
  print()

*
**
***
****
*****
****
***
**
*