<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/LoopDay7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
rows = 5
for i in range(0, rows+1):
  for j in range(1, i+1):
    print(i, end='')
  print()

1
22
333
4444
55555

In [10]:
n = int(input('Enter number: '))
for i in range (1,n+1,1):
  for j in range(1, i+1,1):
    print(i*j, end=' ')
  print()

Enter number: 5
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [16]:
rows = 9
for i in range(1, rows):
  for j in range(-1+i, -1,-1):
    print(format(2**j, '4d'), end=' ' )
  print('')

   1
   2    1
   4    2    1
   8    4    2    1
  16    8    4    2    1
  32   16    8    4    2    1
  64   32   16    8    4    2    1
 128   64   32   16    8    4    2    1

In [18]:
rows = 9
for i in range(1, rows):
  for i in range(0, i, 1):
    print(format(2**i, '4d'), end=' ')
  for i in range(-1+i, -1, -1):
    print(format(2**i, '4d'), end=' ')
  print('')

   1
   1    2    1
   1    2    4    2    1
   1    2    4    8    4    2    1
   1    2    4    8   16    8    4    2    1
   1    2    4    8   16   32   16    8    4    2    1
   1    2    4    8   16   32   64   32   16    8    4    2    1
   1    2    4    8   16   32   64  128   64   32   16    8    4    2    1

In [19]:
current_num = 1
rows = 3
stop = 2
for i in range(rows):
  for j in range(1, stop):
    print(current_num, end=' ')
    current_num += 1
  print(' ')
  stop+=2

1
2 3 4
5 6 7 8 9

In [1]:
#pyramid of numbers upto 10
current_num = 1
rows = 4
stop = 2

for i in range(rows):
  for j in range(1, stop):
    print(current_num, end=' ')
    current_num+=1
  print()
  stop+=1

1
2 3
4 5 6
7 8 9 10

In [2]:
rows = 5
last_num = 2*rows
even_num = last_num
for i in range(1, rows+1):
  even_num = last_num
  for j in range(i):
    print(even_num, end=' ')
    even_num -=2
  print()

10
10 8
10 8 6
10 8 6 4
10 8 6 4 2

In [8]:
rows = 6
for i in range(1, rows+1):
  for j in range(1, i-1):
    print(j, end=' ')
  for j in range(i-1, 0, -1):
    print(j, end=' ')
  print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1