<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/loopExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for l in 'john':
  if l=='o':
    pass
  print(l, end=", ")

j, o, h, n,

In [ ]:
for num in range(10,14):
  for i in range(2, num):
    if num%i ==1:
      print(num)
      break

10
11
12
13

In [ ]:
numbers = [10,20]
items =['chair', 'table']

for a in numbers:
  for b in items:
    print(a, b)

10 chair
10 table
20 chair
20 table

In [ ]:
for num in range(2,-5,-1):
  print(num, end=", ")

2, 1, 0, -1, -2, -3, -4,

In [ ]:
for num in range(-2,-5,-1):
  print(num, end=', ')

-2, -3, -4,

In [ ]:
a = 0
while(a < 100):
  a+=2
print(a)

100

In [ ]:
a, b = 12, 5
if a+b:
  print('True')
else:
  print('False')

True

In [ ]:
a = ['ram','sishir']

In [ ]:
a

['ram', 'sishir']

In [ ]:
a.append('Abishek')
print(a)

['ram', ['Laddu'], 'Abishek']

In [ ]:
a[1] = 'laddu'
a

['ram', 'laddu', 'Abishek']

In [ ]:
a, b = 12, 5
if a+b:
  print('True')
else:
  print('False')

True

In [ ]:
a = 0
b = 5
c = 5
if b>0:
  if c < 0:
    a = a + 5
  elif b>5:
    a = a+4
  else:
    a = a+3
else:
  a = a+2
print(a)

3

In [ ]:
v = 0
a = 0
b = -5
if a>0:
  if b <0:
    v = v+5
  elif a > 5:
    v = v + 4
  else:
    v= v+3
else:
  v = v+2
print(v)

2

In [ ]:
var = 10
for i in range(10):
  for j in range(2,10,1):
    if var % 2 ==0:
      continue
      var += 1
  var+=1
else:
  var+=1
print(var)

21

In [ ]:
a = 0
for i in range(10):
  for j in range(-1, -10, -1):
    a +=1
    print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [ ]:
a = 'hello'
for i in range(5):
  print(a)

hello
hello
hello
hello
hello

In [ ]:
count = 1
while count <= 5:
  print('Hello')
  count+=1
print(count)

Hello
Hello
Hello
Hello
Hello
6

In [ ]:
i = 1
while i <=5:
  print(i)
  i+=1
print('loop ended')

1
2
3
4
5
loop ended

In [ ]:
i = 5
while i>=1:
  print(i)
  i-=1

5
4
3
2
1

In [ ]:
#print number from 1 to 100
i = 1
while i<=100:
  print(i)
  i+=1
print('loop ended')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
loop ended

In [ ]:
#print number from 100 to 1
i = 100
while i>=1:
  print(i)
  i-=1
print('loop ended')

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
loop ended

In [ ]:
#print the multiplication of table of number n
i = 1
while i<=10:
  print(3*i)
  i+=1
print("Multiplication table of 3")

3
6
9
12
15
18
21
24
27
30
Multiplication table of 3

In [ ]:
n = int(input('Enter number: '))
print("Multiplication table of ", n)
i = 1
while i <=10:
  print(n*i)
  i+=1

Enter number: 15
Multiplication table of  15
15
30
45
60
75
90
105
120
135
150

In [ ]:
#print the elements of the following list using table
list1 = [1,4,9,16,25,36,49,64,81,100]

idx = 0
while idx < len(list1):
  print(list1[idx])
  idx+=1

1
4
9
16
25
36
49
64
81
100

In [ ]:
heroes = ['ironman', 'spiderman', 'thor', 'superman']
idx = 0
while idx <len(heroes):
  print(idx,heroes[idx])
  idx+=1

0 ironman
1 spiderman
2 thor
3 superman

In [34]:
num = (1,4,9,16,25,36,49,64,81,100)
x = 36
i = 0
while i <=len(num):
  if (num[i] == x):
    print("Found at index", i)
    i +=1

KeyboardInterrupt:

In [33]:
print('Hello')

Hello

In [36]:
nums = (1, 4,9, 16,25,36,49,64,81,100)
x = 100
i = 0
while i <= len(nums):
  if (nums[i] == x):
    print('Found at index ', i)
print("Found")

KeyboardInterrupt: