<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/LoopDay7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
rows = 5
for i in range(0, rows+1):
  for j in range(1, i+1):
    print(i, end='')
  print()

1
22
333
4444
55555

In [ ]:
n = int(input('Enter number: '))
for i in range (1,n+1,1):
  for j in range(1, i+1,1):
    print(i*j, end=' ')
  print()

Enter number: 5
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [ ]:
rows = 9
for i in range(1, rows):
  for j in range(-1+i, -1,-1):
    print(format(2**j, '4d'), end=' ' )
  print('')

   1
   2    1
   4    2    1
   8    4    2    1
  16    8    4    2    1
  32   16    8    4    2    1
  64   32   16    8    4    2    1
 128   64   32   16    8    4    2    1

In [ ]:
rows = 9
for i in range(1, rows):
  for i in range(0, i, 1):
    print(format(2**i, '4d'), end=' ')
  for i in range(-1+i, -1, -1):
    print(format(2**i, '4d'), end=' ')
  print('')

   1
   1    2    1
   1    2    4    2    1
   1    2    4    8    4    2    1
   1    2    4    8   16    8    4    2    1
   1    2    4    8   16   32   16    8    4    2    1
   1    2    4    8   16   32   64   32   16    8    4    2    1
   1    2    4    8   16   32   64  128   64   32   16    8    4    2    1

In [ ]:
current_num = 1
rows = 3
stop = 2
for i in range(rows):
  for j in range(1, stop):
    print(current_num, end=' ')
    current_num += 1
  print(' ')
  stop+=2

1
2 3 4
5 6 7 8 9

In [ ]:
#pyramid of numbers upto 10
current_num = 1
rows = 4
stop = 2

for i in range(rows):
  for j in range(1, stop):
    print(current_num, end=' ')
    current_num+=1
  print()
  stop+=1

1
2 3
4 5 6
7 8 9 10

In [ ]:
rows = 5
last_num = 2*rows
even_num = last_num
for i in range(1, rows+1):
  even_num = last_num
  for j in range(i):
    print(even_num, end=' ')
    even_num -=2
  print()

10
10 8
10 8 6
10 8 6 4
10 8 6 4 2

In [ ]:
rows = 6
for i in range(1, rows+1):
  for j in range(1, i-1):
    print(j, end=' ')
  for j in range(i-1, 0, -1):
    print(j, end=' ')
  print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
#pattern double row in each column
rows = 7
for i in range(0, rows):
  for j in range(0, i+1):
    print(i*j, end=' ')
  print()

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25
0 6 12 18 24 30 36

In [ ]:
#number reduction
rows = 6

for i in range(0, rows, 1):

  for j in range(i+1, rows, 1):
    print(j, end=' ')

  print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [ ]:
rows = 6
for i in range(0, rows):
  for j in range(rows-1, i, -1):
    print(j, '', end='')
  for k in range(i):
    print('    ', end='')

  for l in range(i+1, rows):
    print(l,' ', end='')
  print('\n')

5 4 3 2 1 1  2  3  4  5

5 4 3 2     2  3  4  5

5 4 3         3  4  5

5 4             4  5

5                 5

In [ ]:
row = 4
for i in range(0, row):
  c = 1
  print(c, end='')
  for j in range(row-i-1, 0, -1):
    print(' * ', end='')
    c = c+1
    print(c, end='')
  print('\n')

1 * 2 * 3 * 4

1 * 2 * 3

1 * 2

1

In [ ]:
num = 4
counter = 0
for i in range(0, num):
  for j in range(0, i+1):
    print(counter, end=' ')
    counter = 2**(i+1)
  print('\n')

0

2 4

4 8 8

8 16 16 16

In [40]:
#calculate sum and average of number
n = int(input('Enter Number: '))
sum = 0
for i in range(1, n+1, 1):
  sum = sum + i
print("Sum: ", sum)
average = sum/n
print('Average: ', average)

Enter Number: 10
Sum:  55
Average:  5.5

In [49]:
list1 = [10,20.5,30,45.5,50]
sum = 0
for num in list1:
  sum = sum+num
print("Sum: ", sum)
average = sum/len(list1)
print(average)

Sum:  156.0
31.2

In [50]:
n = 20
res = n*(n+1)/2
print('Sum of', n, 'Number is: ', res)
average = (n* (n+1)/2) / n
print('Average: ', average)

Sum of 20 Number is:  210.0
Average:  10.5

In [53]:
n = int(input('Enter number: '))
total_numbers = n
sum = 0
while n >= 0:
  sum += n
  n -= 1
print('Sum: ', sum)

average = sum / total_numbers


print('Average: ', average)

Enter number: 20
Sum:  210
Average:  10.5

In [55]:
#Add two matrix
matrixOne = [[6,9,11],[2,3,8]]
matrixTwo = [[15,18,11], [26,16,19]]

result = [[0,0,0],[0,0,0]]

for i in range(len(matrixOne)):
  for j in range(len(matrixOne[0])):
    result[i][j] = matrixOne[i][j] + matrixTwo[i][j]
print('Addition of two matrix in python')
for res in result:
  print(res)

Addition of two matrix in python
[21, 27, 22]
[28, 19, 27]