<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/oopDay2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Car:
  color = 'Black'
  @staticmethod
  def start():
    print('Car start')

  @staticmethod
  def stop():
    print('Car Stoped')

class ToyotaCar(Car):
    def __init__(self, name):
      self.name = name

car1 = ToyotaCar('Fortuner')
print(car1.name)
car1.start()
print(car1.color)

Fortuner
Car start
Black

In [ ]:
#Multiple inheritance
class A:
  varA = 'Welcome to class A'

class B:
  varB = 'Welcome to class B'

class C(A, B):
  varC = 'Welcome to class C'

c1 = C()
print(c1.varC)
print(c1.varB)
print(c1.varA)

Welcome to class C
Welcome to class B
Welcome to class A

In [ ]:
#Super method
class Car:
  def __init__(self, type):
    self.type = type

  @staticmethod
  def start():
    print('Car started')

  @staticmethod
  def stop():
    print('Car stopped..')

class ToyotaCar(Car):
  def __init__(self, name, type):
    super().__init__(type)
    self.name = name
    super().start()
    super().stop()

car1 = ToyotaCar('Tesla', 'Electric')
print(car1.type)
print(car1.name)

Car started
Car stopped..
Electric
Tesla

In [ ]:
class Person:
  name = 'anonymous'

  def changeName(self, name):
    self.name = name

p1 = Person()
print(p1.name)

p1.changeName('Rahul Kumar')
print(p1.name)

anonymous
Rahul Kumar

In [ ]:
class Student:
  def __init__(self, phy, chem, math):
    self.phy = phy
    self.chem = chem
    self.math = math

  @property
  def percentage(self):
   return str((self.phy + self.chem + self.math)/3) + '%'

s1 = Student(78, 65, 98)
print(s1.percentage)

s1.phy = 96
print(s1.phy)
print(s1.percentage)

80.33333333333333%
96
86.33333333333333%

In [ ]:
class Complex:
  def __init__(self, real, img):
    self.real = real
    self.img = img

  def showNumber(self):
    print(self.real, 'i +', self.img,'j')

  def add(self, num2):
    newReal = self.real + num2.real
    newImg = self.img + num2.img
    return Complex(newReal, newImg)

num1 = Complex(1, 3)
num1.showNumber()

num2 = Complex(5, 6)
num2.showNumber()

num3 = num1.add(num2)
num3.showNumber()

num4 = Complex(3, 4)
num4.showNumber()
num5 = num4.add(num3)
num5.showNumber()

1 i + 3 j
5 i + 6 j
6 i + 9 j
3 i + 4 j
9 i + 13 j

In [12]:
#dunder function __add__, __sub__, __mul__
class Complex:
  def __init__(self, real, img):
    self.real = real
    self.img = img

  def showNumber(self):
    print(self.real,'i +',self.img, 'j')

  def __add__(self, num2):
    newReal = self.real + num2.real
    newImg = self.img + num2.img
    return Complex(newReal, newImg)

  def __sub__(self, num2):
    newReal = self.real - num2.real
    newImg = self.img - num2.img
    return Complex(newReal, newImg)


n1 = Complex(4, 5)
n1.showNumber()

n2 = n1 + n1
n2.showNumber()

n3 = n1 - n2
n3.showNumber()

4 i + 5 j
8 i + 10 j
-4 i + -5 j

In [13]:
import math

In [29]:
#Define a circle
class Circle:
  def __init__(self, r):
    self.r = r

  def area_of_circle(self):
    area = math.pi * self.r ** 2
    print(f'Area of circle {self.r} is {area}')

  def perimeter_of_circle(self):
    perimeter = 2 * math.pi * self.r
    print(f'Perimeter of circle {self.r} is {perimeter}')

c1 = Circle(5)
c1.area_of_circle()
c1.perimeter_of_circle()

c2 = Circle(10)
c2.area_of_circle()
c2.perimeter_of_circle()

c3 = Circle(21)
c3.area_of_circle()
c3.perimeter_of_circle()

Area of circle 5 is 78.53981633974483
Perimeter of circle 5 is 31.41592653589793
Area of circle 10 is 314.1592653589793
Perimeter of circle 10 is 62.83185307179586
Area of circle 21 is 1385.4423602330987
Perimeter of circle 21 is 131.94689145077132

In [35]:
#employee class
class Employee:
  def __init__(self, role, dept, salary):
    self.role = role
    self.dept = dept
    self.salary = salary

  def show_detail(self):
    print('Role:', self.role)
    print('Department: ', self.dept)
    print('Salary: ',self.salary)

class Enginear(Employee):
  def __init__(self, name, age):
    self.name = name
    self.age = age
    super().__init__('Engineer', 'It', '1,00,000')

emp1 = Enginear('Elon Musk', 41)
emp1.show_detail()

Role: Engineer
Department:  It
Salary:  1,00,000

In [41]:
class Order:
  def __init__(self, item, price):
    self.item = item
    self.price = price

  def __gt__(self, odr2):
    return self.price > odr2.price

o1 = Order('Bhujiya', 100)
o2 = Order('Coke', 50)
print(o1 > o2)
print(o2 > o1)

o3 = Order('Chiya seed', 200)
print(o3 > o1)

True
False
True