<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/patternLoopDay5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#print pattern
rows = 5
k = 2*rows-2
for i in range(0, rows):

  for j in range(0, k):
    print('-', end='')
  k = k-2
  for j in range(0, i+1):
    print("* ", end='')
  print('')

--------*
------* *
----* * *
--* * * *
* * * * *

In [9]:
rows = 6
k = 2*rows-2
for i in range(0, rows):
  for j in range(0, k):
    print(end=" ")
  k = k-2
  for j in range(0, i+1):
    print('* ', end='')
  print("")

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [11]:
rows=5
for j in range(1, rows+1):
  print('* ' *j)

*
* *
* * *
* * * *
* * * * *

In [13]:
rows=5
for i in range(rows+1, 0, -1):
  for j in range(0, i-1):
    print('* ', end='')
  print()

* * * * *
* * * *
* * *
* *
*

In [19]:
rows = 5
k = 2*rows-2
for i in range(rows, -1, -1):
  for j in range(k, 0, -1):
    print(end=" ")
  k = k+1
  for j in range(0, i+1):
    print('*', end=" ")
  print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [22]:
rows = 5
i = rows
while i>=1:
  j = rows
  while j > i:
    print(' ', end =' ')
    j -=1
  k =1
  while k <= i:
    print('*', end=' ')
    k+=1
  print()
  i-=1

* * * * *
  * * * *
    * * *
      * *
        *

In [27]:
#equilateral traingle pattern
print("Equilateral traingle pyramid using asterisk symbol")
size = 7
m = (2*size) - 2
for i in range(0, size):
  for j in range(0, m):
    print( end=' ')
  m = m-1
  for j in range(0, i+1):
    print('*', end=' ')
  print(' ')

Equilateral traingle pyramid using asterisk symbol
            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *
      * * * * * * *

In [29]:
rows = 6
for i in range(0, rows):
  for j in range(0, i+1):
    print('*', end='')
  print('')
print('')

for i in range(rows+1, 0, -1):
  for j in range(0, i-1):
    print('*', end='')
  print('')

*
**
***
****
*****
******

******
*****
****
***
**
*

In [30]:
rows=5
for i in range(0, rows):
  for j in range(0, i+1):
    print('*', end='')
  print('')
for i in range(rows, 0,-1):
  for j in range(0, i-1):
    print('*', end= '')
  print('')

*
**
***
****
*****
****
***
**
*

In [1]:
rows=5
i = 1
while i <= rows:
  j = i
  while j<rows:
    print(' ', end=' ')
    j+=1
  k = 1
  while k <= i:
    print('*', end=' ')
    k+=1
  print()
  i+=1

i = rows
while i>=1:
  j = i
  while j <= rows:
    print(' ', end=' ')
    j+=1
  k = 1
  while k<i:
    print('*', end=' ')
    k+=1
  print('')
  i-=1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [15]:
rows = 5
i= 0
while i <= rows-1:
  j = 0
  while j<i:
    print('', end=' ')
    j+=1
  k=i
  while k<=rows-1:
    print('*', end=' ')
    k+=1
  print()
  i+=1

i = rows -1
while i >=0:
  j = 0
  while j < i:
    print('', end=' ')
    j+=1
  k = i
  while k <= rows-1:
    print('*', end=' ')
    k+=1
  print('')
  i-=1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [20]:
rows = 14
print('*'* rows, end='\n')
i = (rows // 2) - 1
j = 2
while i!= 0:
  while j <= (rows-2):
    print('*'*i, end='')
    print('-'*j, end='')
    print('*'*i, end='\n')
    i = i-1
    j=j+2

**************
******--******
*****----*****
****------****
***--------***
**----------**
*------------*

In [32]:
rows = 5
k = 2*rows -2
for i in range(0, rows):
  for j in range(0, k):
    print(end=' ')
  k = k-1
  for j in range(0, i+1):
    print('* ',end='')
  print('')

k = rows - 2

for i in range(rows, -1, -1):
  for j in range(k, 0,-1):
    print(end=' ')
  k =k+ 1
  for j in range(0, i+1):
    print('*', end=' ')
  print('')

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *