<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/PatternLoopDay3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
rows = 6
# if you want user to enter a number, uncomment the below line
# rows = int(input('Enter the number of rows'))
# outer loop
for i in range(rows):
    # nested loop
    for j in range(i):
        # display number
        print(i, end = ' ')
    # new line after each row
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
rows = 5
for i in range(rows):
  for j in range(i):
    print(i, end='')
  print('')

1
22
333
4444

In [ ]:
rows = 6
for i in range(rows):
  for j in range(i):
    print(j, end='')
  print(" ")

0
01
012
0123
01234

In [ ]:
rows = 5
for i in range(1, rows+1):
  for j in range(1, i+1):
    print(j, end=' ')
  print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#inverted pyramid pattern
rows = 5
b = 0

for i in range(rows, 0, -1):
  b+=1
  for j in range(1, i+1):
    print(b, end=' ')
  print("\r")

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
#print same number
rows = 5
num=rows
for i in range(rows, 0,-1):
  for j in range(0,i):
    print(num, end='')
  print('')

55555
5555
555
55
5

In [ ]:
rows = 6
for i in range(rows,0,-1):
  for j in range(i):
    print(j, end=' ')
  print('')

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [ ]:
rows = 5
for i in range(rows, 0, -1):
  for j in range(i,0, -1):
    print(j, end='')
  print(' ')

54321
4321
321
21
1

In [ ]:
rows = 5
i = 1
while i <=rows:
  j = 1
  while j <= i:
    print((i*2-1), end = ' ')
    j = j+1
  i = i+1
  print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
#reverse number pattern
rows = 6
for i in range(rows-1,0,-1):
  for j in range(i):
    print(i, end=' ')
  print('')

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
#reverse pyramid of number
rows = 6
for i in range(1,rows):
  for j in range(i,0,-1):
    print(j, end='')
  print('')

1
21
321
4321
54321

In [1]:
#another reverse number pattern
rows = 5
for i in range(rows, 0, -1):
  for j in range(i, 0, -1):
    print(j, end='')
  print('')

54321
4321
321
21
1

In [2]:
rows = 5
for i in range(0,rows+1):
  for j in range(rows-i, 0, -1):
    print(j, end='')
  print('')

54321
4321
321
21
1

In [ ]:
#print reverse number from 10 to 1