<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/patternLoop4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
rows = 5
for i in range(rows+1):
  for j in range(i):
    print(i, end=' ')
  print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [8]:
start = 1
stop = 2
current_num = stop
for row in range(2, 6):
  for col in range(start, stop):
    current_num -=1
    print(current_num, end=' ')
  print('')
  start = stop
  stop += row
  current_num = stop

1
3 2
6 5 4
10 9 8 7

In [23]:
#number traingle pattern
rows = 6
for i in range(1,rows):
  num = 1
  for j in range(rows, 0, -1):
    if j>i:
      print(" ", end="")
    else:
      print(num, end="")
      num+=1
  print(" ")

     1
    12
   123
  1234
 12345

In [31]:
#square pattern with numbers
rows = 5
for i in range(1, rows+1):
  for j in range(1, rows+1):
    if j <= i:
      print(i, end=' ')
    else:
      print(j,end=' ')
  print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [39]:
#multiplication table pattern
rows = 8
for i in range(1, rows+1):
  for j in range(1, i+1):
    square = i*j
    print(square, end=' ')
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [46]:
rows=5
for i in range(0, rows):
  for j in range(0, i+1):
    print('*', end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [49]:
rows = 5
for j in range(1, rows+1):
  print(' *'*j)

 *
 * *
 * * *
 * * * *
 * * * * *