<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/patternLoopDay5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#print pattern
rows = 5
k = 2*rows-2
for i in range(0, rows):

  for j in range(0, k):
    print('-', end='')
  k = k-2
  for j in range(0, i+1):
    print("* ", end='')
  print('')

--------*
------* *
----* * *
--* * * *
* * * * *

In [9]:
rows = 6
k = 2*rows-2
for i in range(0, rows):
  for j in range(0, k):
    print(end=" ")
  k = k-2
  for j in range(0, i+1):
    print('* ', end='')
  print("")

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [11]:
rows=5
for j in range(1, rows+1):
  print('* ' *j)

*
* *
* * *
* * * *
* * * * *

In [13]:
rows=5
for i in range(rows+1, 0, -1):
  for j in range(0, i-1):
    print('* ', end='')
  print()

* * * * *
* * * *
* * *
* *
*

In [19]:
rows = 5
k = 2*rows-2
for i in range(rows, -1, -1):
  for j in range(k, 0, -1):
    print(end=" ")
  k = k+1
  for j in range(0, i+1):
    print('*', end=" ")
  print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [22]:
rows = 5
i = rows
while i>=1:
  j = rows
  while j > i:
    print(' ', end =' ')
    j -=1
  k =1
  while k <= i:
    print('*', end=' ')
    k+=1
  print()
  i-=1

* * * * *
  * * * *
    * * *
      * *
        *

In [27]:
#equilateral traingle pattern
print("Equilateral traingle pyramid using asterisk symbol")
size = 7
m = (2*size) - 2
for i in range(0, size):
  for j in range(0, m):
    print( end=' ')
  m = m-1
  for j in range(0, i+1):
    print('*', end=' ')
  print(' ')

Equilateral traingle pyramid using asterisk symbol
            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *
      * * * * * * *

In [29]:
rows = 6
for i in range(0, rows):
  for j in range(0, i+1):
    print('*', end='')
  print('')
print('')

for i in range(rows+1, 0, -1):
  for j in range(0, i-1):
    print('*', end='')
  print('')

*
**
***
****
*****
******

******
*****
****
***
**
*

In [30]:
rows=5
for i in range(0, rows):
  for j in range(0, i+1):
    print('*', end='')
  print('')
for i in range(rows, 0,-1):
  for j in range(0, i-1):
    print('*', end= '')
  print('')

*
**
***
****
*****
****
***
**
*

In [1]:
rows=5
i = 1
while i <= rows:
  j = i
  while j<rows:
    print(' ', end=' ')
    j+=1
  k = 1
  while k <= i:
    print('*', end=' ')
    k+=1
  print()
  i+=1

i = rows
while i>=1:
  j = i
  while j <= rows:
    print(' ', end=' ')
    j+=1
  k = 1
  while k<i:
    print('*', end=' ')
    k+=1
  print('')
  i-=1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [15]:
rows = 5
i= 0
while i <= rows-1:
  j = 0
  while j<i:
    print('', end=' ')
    j+=1
  k=i
  while k<=rows-1:
    print('*', end=' ')
    k+=1
  print()
  i+=1

i = rows -1
while i >=0:
  j = 0
  while j < i:
    print('', end=' ')
    j+=1
  k = i
  while k <= rows-1:
    print('*', end=' ')
    k+=1
  print('')
  i-=1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [20]:
rows = 14
print('*'* rows, end='\n')
i = (rows // 2) - 1
j = 2
while i!= 0:
  while j <= (rows-2):
    print('*'*i, end='')
    print('-'*j, end='')
    print('*'*i, end='\n')
    i = i-1
    j=j+2

**************
******--******
*****----*****
****------****
***--------***
**----------**
*------------*

In [32]:
rows = 5
k = 2*rows -2
for i in range(0, rows):
  for j in range(0, k):
    print(end=' ')
  k = k-1
  for j in range(0, i+1):
    print('* ',end='')
  print('')

k = rows - 2

for i in range(rows, -1, -1):
  for j in range(k, 0,-1):
    print(end=' ')
  k =k+ 1
  for j in range(0, i+1):
    print('*', end=' ')
  print('')

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [25]:
rows = 5
i = 1
while i <= rows:
  j = rows
  while j > i:
    print(' ', end=' ')
    j-=1
  print('*', end=' ')
  k = 1
  while k < 2 * (i - 1):
    print(' ', end =' ')
    k+=1
  if i == 1:
    print()
  else:
    print('*')
  i+=1

i = rows - 1
while i>=1:
  j = rows
  while j > i:
    print(' ', end=' ')
    j-=1
  print('*', end=' ')
  k=1
  while k <= 2*(i-1):
    print(' ', end=' ')
    k+=1
  if i == 1:
    print()
  else:
    print('*')
  i-=1

        *
      *   *
    *       *
  *           *
*               *
  *             *
    *         *
      *     *
        *

In [26]:
rows = 5
i = 1
while i <= rows:
  j = rows
  while j > i:
    print(' ', end=' ')
    j-=1
  print('*', end=' ')
  k = 1
  while k < 2 * (i - 1):
    print(' ', end =' ')
    k+=1
  if i == 1:
    print()
  else:
    print('*')
  i+=1

i = rows - 1
while i>=1:
  j = rows
  while j > i:
    print(' ', end=' ')
    j-=1
  print('*', end=' ')
  k=1
  while k <= 2*(i-1):
    print(' ', end=' ')
    k+=1
  if i == 1:
    print()
  else:
    print('*')
  i-=1

        *
      *   *
    *       *
  *           *
*               *
  *             *
    *         *
      *     *
        *

In [28]:
rows = 5
i = 1
while i <= rows:  # Loops through the upper half of the diamond
  j = rows
  while j > i:  # Prints leading spaces
    print(' ', end=' ')
    j -= 1
  print('*', end=' ')  # Prints the first star

  k = 1
  while k < 2 * (i - 1):  # Prints spaces inside the diamond
    print(' ', end=' ')
    k += 1

  if i == 1:
    print()  # Moves to the next line if it's the first row
  else:
    print('*')  # Prints the second star (except for the first row)

  i += 1  # Moves to the next row

i = rows - 1  # Start from the second last row
while i >= 1:  # Loops through the lower half of the diamond
  j = rows
  while j > i:  # Prints leading spaces
    print(' ', end=' ')
    j -= 1
  print('*', end=' ')  # Prints the first star

  k = 1
  while k <= 2 * (i - 1):  # Prints spaces inside the diamond
    print(' ', end=' ')
    k += 1

  if i == 1:
    print()  # Moves to the next line if it's the last row
  else:
    print('*')  # Prints the second star (except for the last row)

  i -= 1  # Moves to the previous row

        *
      *   *
    *       *
  *           *
*               *
  *             *
    *         *
      *     *
        *

In [29]:
ascii_number=65
rows = 7
for i in range(0, rows):
  for j in range(0, i+1):
    character = chr(ascii_number)
    print(character, end=' ')
    ascii_number +=1
  print(' ')

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

In [32]:
word = 'Python'
a = '-'
for i in word:
  a+=i
  print(a)

-P
-Py
-Pyt
-Pyth
-Pytho
-Python

In [61]:
size = 7
asciiNumber = 65
m=(2*size)-2
for i in range(0, size):
  for j in range(0, m):
    print(end=' ')
  m=m-1
  for j in range(0, i+1):
    character = chr(asciiNumber)
    print(character, end=' ')
    asciiNumber +=1
  print(' ')

            A
           B C
          D E F
         G H I J
        K L M N O
       P Q R S T U
      V W X Y Z [ \

In [65]:
character = 'V'
char_ascii_no = ord(character)
for i in range(0, 5):
  for j in range(0, i+1):
    user_char = chr(char_ascii_no)
    print(user_char, end=' ')
  print()

V
V V
V V V
V V V V
V V V V V

In [73]:
for i in range(5):
  for j in range(i+1):
    if j==0 or j == i or i == 4:
      print('V', end='')
    else:
      print(' ', end='')
  print()

V
VV
V V
V  V
VVVVV

In [75]:
rows = 10
for i in range(1, rows+1):
  for j in range(1,i+1):
    print(i*j, end=' ')
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100