<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/pyFunction1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#calculate sum
def calc_sum(a, b):
  res = a+b
  print(res)
  return res

calc_sum(20, 21)
calc_sum(2, 4)

41
6

6

In [14]:
def calc_sum(a, b):
  return a+b

print(calc_sum(10,12))
print(calc_sum(3, 5))

22
8

In [19]:
def print_str():
  print('Hello')


print_str()
print_str()

Hello
Hello

In [21]:
#average of 3 numbers
def average(a, b, c):
  sum = a + b + c
  avg = sum / 3
  return avg, sum

print(average(1,2,3))

(2.0, 6)

In [33]:
#WAF to print the length of a list. (list is the parameter)
cities = ['Kathmandu', 'Inaruwa', 'Biratnagar', 'Dharan', 'Ithari']
stuff = ['Perfume', 'Sunscream', 'Oil', 'Bodyspray']

def len_func(list):
  return(len(list), list)


print(len_func(cities))
print(len_func(stuff))

(5, ['Kathmandu', 'Inaruwa', 'Biratnagar', 'Dharan', 'Ithari'])
(4, ['Perfume', 'Sunscream', 'Oil', 'Bodyspray'])

In [4]:
#WAF to print the elements of a list in a single line.(list is the parameter)
name = ['Mahesh', 'Laddu', 'Parash', 'Nabbe', 'Sachin']
sujects = ['Math', 'Science', 'Physics', 'Chemestry']

def print_single(list):
  res = print(list, end=' ')
  return res

print_single(name)
print_single(sujects)

['Mahesh', 'Laddu', 'Parash', 'Nabbe', 'Sachin'] ['Math', 'Science', 'Physics', 'Chemestry']

In [14]:
#WAF to print the elements of a list in a single line.(list is the parameter)
name = ['Mahesh', 'Laddu', 'Parash', 'Nabbe', 'Sachin']
sujects = ['Math', 'Science', 'Physics', 'Chemestry']

def print_list(list):
  for item in list:
    print(item, end=' ')

print_list(name)
print_list(sujects)
print()

Mahesh Laddu Parash Nabbe Sachin Math Science Physics Chemestry

In [18]:
#WAF to find the factorial of n. (n is the parameter)
n = int(input('Enter number: '))
def calc_fact(n):
  fact = 1
  for i in range(1, n+1):
    fact *=i
  print(fact)

calc_fact(n)

Enter number: 10
3628800

In [2]:
#WAF to convert USD to NPR
doller = int(input('Enter USD: '))
rupees = int(input('Enter NPR: '))

def usd_to_npr(doller):
  converter = doller * 0.0072
  return converter

def npr_to_usd(rupees):
  convert = rupees * 138.72
  return convert

print('{1} doller is ',usd_to_npr(doller))
print(npr_to_usd(rupees))

Enter USD: 1
Enter NPR: 1
{1} doller is  0.0072
138.72

In [4]:
#currency converter
def doller_to_npr(doller):
  return (doller * 0.0072)

def npr_to_doller(npr):
  return (npr * 138.72)

#user input
print('Currency Converter')
print('1. Doller to NPR')
print('2. Npr to Doller')

choice = int(input('Enter choice. '))
currency = float(input('Enter amount. '))

if choice == 1:
  print(f'Result: {doller_to_npr(currency)}')
elif choice == 2:
  print(f'Result: {npr_to_doller(currency)}')
else:
  print('Invalid choice! please enter a number 1 and 2')

Currency Converter
1. Doller to NPR
2. Npr to Doller
Enter choice. 2
Enter amount. 1
Result: 138.72