<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/pyOopDay1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#basics
#creating class
class Student:
  name = 'John'

s1 = Student()
print(s1)
print(s1.name)

<__main__.Student object at 0x7c924610eb50>
John

In [5]:
class Car:
  color = 'blue'
  brand = 'Rolls Royace'

car1 = Car()
print(car1.color)
print(car1.brand)

blue
Rolls Royace

In [10]:
#constructur: __init__
class Student:
  def __init__(self, name):
    self.name = name
    print('Adding new students in database..')

s1 = Student('Shishir')
print(s1.name)

s2 = Student('Laddu')
print(s2.name)

Adding new students in database..
Shishir
Adding new students in database..
Laddu

In [16]:
class Student:
  def __init__(self, name, marks):
    self.name = name
    self.marks = marks
    print('Adding new students in database..')

s1 = Student('Mahesh', 98)
print(s1.name, s1.marks)

s2 = Student('Parash', 88)
print(s2.name, s2.marks)

Adding new students in database..
Mahesh 98
Adding new students in database..
Parash 88

In [21]:
class Student:
  college_name = 'ABCD college'
  name = 'anonoymous'
  def __init__(self, name):
    self.name = name

s1 = Student('Karan')
print(s1.name)
print(s1.college_name)
print(Student.name)

Karan
ABCD college
anonoymous

In [26]:
#Methods: Methods are function that belong to objects.
class Students:
  college_name = 'ABCD College'

  def __init__(self, name, marks):
    self.name = name
    self.marks = marks

  def welcome(self):
    print('Welcome student,', self.name)

  def get_marks(self):
    return self.marks

s1 = Students('Karan', 97)
s1.welcome()
print(s1.get_marks())

Welcome student, Karan
97

In [34]:
#create student class that takes name and marks of 3 subjects as arguments in constructor.Then create a method to print the average
class Student:
  def __init__(self, name, marks):
    self.name = name
    self.marks = marks

  def get_avg(self):
    sum = 0
    for val in self.marks:
      sum += val
    print('Hi', self.name, 'your average score is: ', sum/3)

s1 = Student('Karan', [99, 98, 97])
s1.get_avg()
s2 = Student('Tonny', [93, 81, 75])
s2.get_avg()

Hi Karan your average score is:  98.0
Hi Tonny your average score is:  83.0

In [35]:
#Abstraction
class Car:
  def __init__(self):
    self.acc = False
    self.brk = False
    self.clutch = False

  def start(self):
    self.acc = True
    self.clutch = True
    print('Car Start..')

car1 = Car()
car1.start()

Car Start..

In [40]:
#Create Account class with 2 attributes - balance & account no.


class Account:
  def __init__(self, bal, acc):
    self.balance = bal
    self.account = acc

acc1 = Account(100000, 546564)
print('Total balance is: ',acc1.balance)
print('Your account number is: ', acc1.account)

Total balance is:  100000
Your account number is:  546564

In [43]:
#create methods for debit, credit and printing balance
class Account:
  def __init__(self, bal, acc):
    self.balance = bal
    self.account_no = acc

  def debit(self, amount):
    self.balance -= amount
    print('Rs.', amount,'was debited')
    print('Total balance = ',self.get_blnc())

  def credit(self, amount):
    self.balance += amount
    print('Rs. ', amount,'was credited')
    print('Total balance = ', self.get_blnc())

  def get_blnc(self):
    return self.balance

acc1 = Account(10000, 543211)
acc1.debit(5000)
acc1.credit(50000)

Rs. 5000 was debited
Total balance =  5000
Rs.  50000 was credited
Total balance =  55000