<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/pyOopDay1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#basics
#creating class
class Student:
  name = 'John'

s1 = Student()
print(s1)
print(s1.name)

<__main__.Student object at 0x7c924610eb50>
John

In [5]:
class Car:
  color = 'blue'
  brand = 'Rolls Royace'

car1 = Car()
print(car1.color)
print(car1.brand)

blue
Rolls Royace

In [10]:
#constructur: __init__
class Student:
  def __init__(self, name):
    self.name = name
    print('Adding new students in database..')

s1 = Student('Shishir')
print(s1.name)

s2 = Student('Laddu')
print(s2.name)

Adding new students in database..
Shishir
Adding new students in database..
Laddu

In [16]:
class Student:
  def __init__(self, name, marks):
    self.name = name
    self.marks = marks
    print('Adding new students in database..')

s1 = Student('Mahesh', 98)
print(s1.name, s1.marks)

s2 = Student('Parash', 88)
print(s2.name, s2.marks)

Adding new students in database..
Mahesh 98
Adding new students in database..
Parash 88

In [21]:
class Student:
  college_name = 'ABCD college'
  name = 'anonoymous'
  def __init__(self, name):
    self.name = name

s1 = Student('Karan')
print(s1.name)
print(s1.college_name)
print(Student.name)

Karan
ABCD college
anonoymous

In [26]:
#Methods: Methods are function that belong to objects.
class Students:
  college_name = 'ABCD College'

  def __init__(self, name, marks):
    self.name = name
    self.marks = marks

  def welcome(self):
    print('Welcome student,', self.name)

  def get_marks(self):
    return self.marks

s1 = Students('Karan', 97)
s1.welcome()
print(s1.get_marks())

Welcome student, Karan
97

In [34]:
#create student class that takes name and marks of 3 subjects as arguments in constructor.Then create a method to print the average
class Student:
  def __init__(self, name, marks):
    self.name = name
    self.marks = marks

  def get_avg(self):
    sum = 0
    for val in self.marks:
      sum += val
    print('Hi', self.name, 'your average score is: ', sum/3)

s1 = Student('Karan', [99, 98, 97])
s1.get_avg()
s2 = Student('Tonny', [93, 81, 75])
s2.get_avg()

Hi Karan your average score is:  98.0
Hi Tonny your average score is:  83.0

In [35]:
#Abstraction
class Car:
  def __init__(self):
    self.acc = False
    self.brk = False
    self.clutch = False

  def start(self):
    self.acc = True
    self.clutch = True
    print('Car Start..')

car1 = Car()
car1.start()

Car Start..

In [40]:
#Create Account class with 2 attributes - balance & account no.


class Account:
  def __init__(self, bal, acc):
    self.balance = bal
    self.account = acc

acc1 = Account(100000, 546564)
print('Total balance is: ',acc1.balance)
print('Your account number is: ', acc1.account)

Total balance is:  100000
Your account number is:  546564

In [43]:
#create methods for debit, credit and printing balance
class Account:
  def __init__(self, bal, acc):
    self.balance = bal
    self.account_no = acc

  def debit(self, amount):
    self.balance -= amount
    print('Rs.', amount,'was debited')
    print('Total balance = ',self.get_blnc())

  def credit(self, amount):
    self.balance += amount
    print('Rs. ', amount,'was credited')
    print('Total balance = ', self.get_blnc())

  def get_blnc(self):
    return self.balance

acc1 = Account(10000, 543211)
acc1.debit(5000)
acc1.credit(50000)

Rs. 5000 was debited
Total balance =  5000
Rs.  50000 was credited
Total balance =  55000

In [45]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def greet(self):
    print('Hello, my name is ', self.name, 'and I am', self.age, 'years old.')

per1 = Person('Nobita', 20)
per1.greet()

per2 = Person('Kimo', 28)
per2.greet()

Hello, my name is  Nobita and I am 20 years old.
Hello, my name is  Kimo and I am 28 years old.

In [56]:
#bank account class
class BankAccount:
  def __init__(self, balance, account_no):
    self.balance = balance
    self.account = account_no

  def deposite(self, amount):
    self.balance += amount
    print('Rs. ',amount,'is deposited:')
    print('Your total balance is: ', self.check_balance())

  def withdraw(self, amount):
    self.balance -= amount
    print('Rs. ',amount,'is credited: ')
    print('Your total balance is: ', self.check_balance())

  def check_balance(self):
    return self.balance

acc1 = BankAccount(23000, 54554)
print('Your balance is ', acc1.balance)
print('your account number is: ', acc1.account)

acc1.deposite(5000)
acc1.withdraw(1000)
acc1.deposite(2000)
acc1.deposite(100000)

Your balance is  23000
your account number is:  54554
Rs.  5000 is deposited:
Your total balance is:  28000
Rs.  1000 is credited:
Your total balance is:  27000
Rs.  2000 is deposited:
Your total balance is:  29000
Rs.  100000 is deposited:
Your total balance is:  129000

In [68]:
#Rectangle class
class Rectangle:
  def __init__(self, length, width):
    self.length = length
    self.width = width

  def area(self):
    area = self.length * self.width
    print(f'Area of rectangle is {self.length} * {self.width} = {area}')

  def perimeter(self):
    peri = 2 * (self.length + self.width)
    print('Perimeter of this rectangle is: ', peri)

rect1 = Rectangle(10, 5)
rect1.area()
rect1.perimeter()

rect2 = Rect

Area of rectangle is 10 * 5 = 50
Perimeter of this rectangle is:  30

In [78]:
#calculator class
class Calculator:
  def __init__(self, num1, num2):
    self.num1 = num1
    self.num2 = num2

  def add(self):
    sum = self.num1 + self.num2
    print(f'Sum of {self.num1} + {self.num2} = ', sum)

  def sub(self):
    subtr = self.num1 - self.num2
    print(f'Sub of {self.num1} - {self.num2} = ', subtr)

  def multiply(self):
    multi = self.num1 * self.num2
    print(f'Multiplication  of {self.num1} * {self.num2} = ', multi)

  def division(self):
    divide = self.num1 / self.num2
    print(f'Division of {self.num1} / {self.num2} = ', divide)

calc1 = Calculator(10, 5)
calc1.add()
calc1.sub()
calc1.multiply()
calc1.division()

Sum of 10 + 5 =  15
Sub of 10 - 5 =  5
Multiplication  of 10 * 5 =  50
Division of 10 / 5 =  2.0

In [93]:
#class calculator
class Calculator:
  def add(self, a,b):
    return a+b

  def subtract(self, a, b):
    return a-b

  def multiply(self, a,b):
    return a*b

  def division(self, a, b):
    if b!=0:
      return a/b

    else:
      return "Error! division by zero."

calc = Calculator()

num1 = float(input('Enter first number: '))
num2 = float(input('Enter second number: '))

print(f'Sum of {num1} + {num2} = {calc.add(num1, num2)}')
print(f'Sub of {num1} - {num2} = {calc.subtract(num1, num2)}')
print(f'Multiplication of {num1} * {num2} = {calc.multiply(num1, num2)}')
print(f'Division of {num1} / {num2} = {calc.division(num1, num2)}')

Enter first number: 0
Enter second number: 1
Sum of 0.0 + 1.0 = 1.0
Sub of 0.0 - 1.0 = -1.0
Multiplication of 0.0 * 1.0 = 0.0
Division of 0.0 / 1.0 = 0.0

In [106]:
#BankAccount
class BankAccount:
  def __init__(self, owner, balance = 0):
    self.owner = owner
    self.balance = balance

  def deposite(self, amount):
    if amount > 0:
      self.balance += amount
      print(f'Deposited {amount}. New balance is {self.balance}.')
    else:
      print('Deposite amount must be positive')

  def withdraw(self, amount):
    if amount > self.balance:
      print('Insufficient funds. Withdrawl denied.')

    elif amount > 0:
      self.balance -= amount
      print(f'Withdraw {amount}. New balance is {self.balance}.')

    else:
      print('Withdrawal amount must be positive')

  def display_balance(self):
    print(f'Current balance: {self.balance}')

account = BankAccount('Alice', 500)
account.display_balance()
account.withdraw(500)
account.display_balance()
account.deposite(5000)
account.withdraw(10000)
account.deposite(100000)
account.display_balance()
account.withdraw(5000)
account.deposite(5000000)
account.display_balance()

Current balance: 500
Withdraw 500. New balance is 0.
Current balance: 0
Deposited 5000. New balance is 5000.
Insufficient funds. Withdrawl denied.
Deposited 100000. New balance is 105000.
Current balance: 105000
Withdraw 5000. New balance is 100000.
Deposited 5000000. New balance is 5100000.
Current balance: 5100000

In [5]:
#student class
class Student:
  def __init__(self, name, student_id, grades):
    self.name = name
    self.student_id = student_id
    # self.grades = grades

  def add_grade(self, grade1, grade2, grade3):
    print('Average Grade = ', (grade1 + grade2 + grade3)/3)
    print('Student Name: ',self.name)
    print('Student ID: ', self.student_id)

  def attendance(self, days):
    print('Total Attendance: ', days)


std = Student('Alice', '3h', 'B')
std.add_grade(10,20,30)
std1 = Student('Shishir', '4g', 9)
std1.add_grade(40,50,60)
std1.attendance('300/365')

std2 = Student('Roshan', '4Y', 'A')
std2.attendance('364/365')

Average Grade =  20.0
Student Name:  Alice
Student ID:  3h
Average Grade =  50.0
Student Name:  Shishir
Student ID:  4g
Total Attendance:  300/365
Total Attendance:  364/365

In [24]:
class Student:
  def __init__(self, names, student_id, grades = None):
    self.name =  names
    self.student_id = student_id
    self.grades = grades if grades is not None else []

  def add_grade(self, grade):
    self.grades.append(grade)

  def calculate_average(self):
    if len(self.grades) == 0:
      return 0
    return sum(self.grades) / len(self.grades)

student = Student('John Doe', 'S345R')
student.add_grade(90)
student.add_grade(85)

average = student.calculate_average()
print(f'Student Name: ', student.name)
print(f'Student ID: ', student.student_id)
print(f'Student grade: ', student.grades)
print(f'Average: ', average)

Student Name:  John Doe
Student ID:  S345R
Student grade:  [90, 85]
Average:  87.5

In [34]:
#Book Class
class Book:
  total_books = 0

  def __init__(self, title, author, pages):
    self.title = title
    self.author = author
    self.pages = pages
    Book.total_books +=1

  def describe(self):
    print(f'Book: {self.title} by {self.author}, Pages {self.pages}')


book1 = Book('Wings of fires', 'Dr Apj Abdul Kalam', 200)
book2 = Book('1984', 'George Orwell', 328)
book3 = Book('The Great Gatsby', 'F.Scott Fitzgerald', 180)

book1.describe()
book2.describe()
book3.describe()

print(f'Total number of books published: ', Book.total_books)

Book: Wings of fires by Dr Apj Abdul Kalam, Pages 200
Book: 1984 by George Orwell, Pages 328
Book: The Great Gatsby by F.Scott Fitzgerald, Pages 180
Total number of books published:  3