<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/pyPracticeDay2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#sum of even numbers
def sum_even_numbers(n):
  sum = 0
  for i in range(1, n+1):

    if i%2 == 0:
      sum= sum+ i
  return sum

num = int(input('Enter number'))
res = sum_even_numbers(num)
print(res)

Enter number10
30

In [8]:
#sum of even numbers using list comprehension
def sum_even_numbers(n):
  return sum([i for i in range(1, n+1) if i%2==0])

num = int(input('Enter number: '))
res = sum_even_numbers(num)
print(res)

Enter number: 10
30

In [9]:
def word_length(words):
  length = [len(word) for word in words]
  return length

words = ['apple', 'banana', 'kiwi']
res = word_length(words)
print(res)

[5, 6, 4]

In [15]:
def word_length(words):
  length = []
  for word in words:
    length.append(len(word))
  return length

words = ['apple', 'banana', 'kiwi']
res = word_length(words)
print(res)

[5, 6, 4]

In [36]:
#generate multiplication table
def multiplication_table(num, n):
  multiply = []
  for i in range(1, num+1):
    multiply.append(i*n)
  return multiply

n = int(input('Enter number: '))
num = int(input('Enter number: '))
res = multiplication_table(num,n)
print(res)

Enter number: 6
Enter number: 12
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72]

In [39]:
#using list comprehension
def multiplication_table(n, num):
  multiply = [i*n for i in range(1, num+1)]
  return multiply

res = multiplication_table(8,10)
print(res)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]

In [42]:
#filter and square numbers
def filter_and_square(numbers):
  square = []
  for num in numbers:
    if num % 2 == 0:
      square.append(num**2)
  return square

numbers = [1,2,3,4,5,6, 8]
res = filter_and_square(numbers)
print(res)

[4, 16, 36, 64]

In [43]:
def filter_and_square(numbers):
  square = []
  for num in numbers:
    if num%2 == 0:
      square.append(num**2)
  return square

user_input = input('Enter a list of numbers seperated by spaces: ')
numbers = list(map(int, user_input.split()))

res = filter_and_square(numbers)
print(res)

Enter a list of numbers seperated by spaces: 2 3 4 5 6
[4, 16, 36]

In [45]:
#using list comprehension
def filtered_and_square(numbers):
  return[num**2 for num in numbers if num%2 == 0]

numbers = [1,2,3,4,5,6]
res = filtered_and_square(numbers)
print(res)

[4, 16, 36]

In [50]:
#user input
def filtered_and_square(numbers):
  return[num**2 for num in numbers if num%2 != 0]

user_input = input('Enter numbers seperated by space: ')
numbers = list(map(int, user_input.split()))
res = filtered_and_square(numbers)
print(res)

Enter numbers seperated by space: 1 2 3
[1, 9]

In [52]:
def square_and_filtered_dict(numbers):
  return{num: num**2 for num in numbers if num%2 == 0}

numbers = [1,2,3,4,5,6]
res = square_and_filtered_dict(numbers)
print(res)

{2: 4, 4: 16, 6: 36}

In [64]:
def square_and_filtered_dict(numbers):
  dictionary = {}
  for num in numbers:
    if num % 2==0:
      dictionary[num] = num**2
  return dictionary
user_input = input('enter numbers seperated by space: ')
numbers = list(map(int, user_input.split()))
res = square_and_filtered_dict(numbers)
print(res)

enter numbers seperated by space: 1 2 3 4 5 6
{2: 4, 4: 16, 6: 36}

In [69]:
#dictionary of factorials
def factorial_dict(n):
  factorial = 1
  return {i: (factorial := factorial*i) for i in range(1, n+1)}


n = 5
res = factorial_dict(n)
print(res)

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120}

In [70]:
def factorial_dict(n):
  factorial = 1
  return {i: (factorial := factorial*i) for i in range(1, n+1)}

num = int(input('Enter number: '))
res = factorial_dict(num)
print(res)

Enter number: 5
{1: 1, 2: 2, 3: 6, 4: 24, 5: 120}

In [74]:
def factorial_dict(n):
  result = {}
  fact = 1
  for i in range(1, n+1):
    fact *= i
    result[i] = fact
  return result

num = 5
res = factorial_dict(num)
print(res)

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120}

In [78]:
#group words by length
def group_by_length(words):
  dictionary = {}
  for word in words:
    length = len(word)
    if length not in dictionary:

      dictionary[length] = []
    dictionary[length].append(word)
  return dictionary
words = ['cat', 'dog', 'cammel']
res = group_by_length(words)
print(res)

{3: ['cat', 'dog'], 6: ['cammel']}

In [80]:
#using dictionary comprehension
def group_by_length(words):

  return {length: [word for word in words if len(word) == length] for length in set(len(word) for word in words)}

words = ['cat', 'dog', 'elephant']
res = group_by_length(words)
print(res)

{8: ['elephant'], 3: ['cat', 'dog']}

In [3]:
def word_frequencies(sentences):
  words = sentences.split()
  frequencies = {}
  for word in words:
    word = word.lower()
    if word in frequencies:
      frequencies[word] +=1
    else:
      frequencies[word] = 1
  return frequencies

sentences = 'apple banana orange apple banana elephant'
res = word_frequencies(sentences)
print(res)

{'apple': 2, 'banana': 2, 'orange': 1, 'elephant': 1}

In [4]:
#using dictionary comprehension
import string

In [5]:
def word_frequencies(sentence):
  words = sentence.split()
  cleaned_words = [word.lower().strip(string.punctuation) for word in words]

  return {word: cleaned_words.count(word) for word in set(cleaned_words)}

sentences = 'this is test. This test is only a tesT'
res = word_frequencies(sentences)
print(res)

{'is': 2, 'only': 1, 'test': 3, 'this': 2, 'a': 1}

In [7]:
def sort_dict_by_values(d, reverse = False):
  sorted_dict = {k: v for k, v in sorted(d.items(), key=lambda item: item[1], reverse = reverse)}
  return sorted_dict

d = {'apple': 3, 'banana': 1, 'cherry': 2}
res = sort_dict_by_values(d)
print(res)

res = sort_dict_by_values(d, reverse=True)
print('Decendig', res)

{'banana': 1, 'cherry': 2, 'apple': 3}
Decendig {'apple': 3, 'cherry': 2, 'banana': 1}

In [8]:
#find common elements in two lists
def find_common_elements(list1, list2):
  common_elements = set(list1) & set(list2)
  common_dict = {elem: (list1.count(elem), list2.count(elem)) for elem in common_elements}
  return common_dict

list1 = [1,2,3,4,5,2,4]
list2 = [3,4,4,5,6]
res = find_common_elements(list1, list2)
print(res)

{3: (1, 1), 4: (2, 2), 5: (1, 1)}