<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/pyPracticeDay2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#sum of even numbers
def sum_even_numbers(n):
  sum = 0
  for i in range(1, n+1):

    if i%2 == 0:
      sum= sum+ i
  return sum

num = int(input('Enter number'))
res = sum_even_numbers(num)
print(res)

Enter number10
30

In [8]:
#sum of even numbers using list comprehension
def sum_even_numbers(n):
  return sum([i for i in range(1, n+1) if i%2==0])

num = int(input('Enter number: '))
res = sum_even_numbers(num)
print(res)

Enter number: 10
30

In [9]:
def word_length(words):
  length = [len(word) for word in words]
  return length

words = ['apple', 'banana', 'kiwi']
res = word_length(words)
print(res)

[5, 6, 4]

In [15]:
def word_length(words):
  length = []
  for word in words:
    length.append(len(word))
  return length

words = ['apple', 'banana', 'kiwi']
res = word_length(words)
print(res)

[5, 6, 4]

In [36]:
#generate multiplication table
def multiplication_table(num, n):
  multiply = []
  for i in range(1, num+1):
    multiply.append(i*n)
  return multiply

n = int(input('Enter number: '))
num = int(input('Enter number: '))
res = multiplication_table(num,n)
print(res)

Enter number: 6
Enter number: 12
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72]

In [39]:
#using list comprehension
def multiplication_table(n, num):
  multiply = [i*n for i in range(1, num+1)]
  return multiply

res = multiplication_table(8,10)
print(res)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]

In [42]:
#filter and square numbers
def filter_and_square(numbers):
  square = []
  for num in numbers:
    if num % 2 == 0:
      square.append(num**2)
  return square

numbers = [1,2,3,4,5,6, 8]
res = filter_and_square(numbers)
print(res)

[4, 16, 36, 64]

In [43]:
def filter_and_square(numbers):
  square = []
  for num in numbers:
    if num%2 == 0:
      square.append(num**2)
  return square

user_input = input('Enter a list of numbers seperated by spaces: ')
numbers = list(map(int, user_input.split()))

res = filter_and_square(numbers)
print(res)

Enter a list of numbers seperated by spaces: 2 3 4 5 6
[4, 16, 36]

In [45]:
#using list comprehension
def filtered_and_square(numbers):
  return[num**2 for num in numbers if num%2 == 0]

numbers = [1,2,3,4,5,6]
res = filtered_and_square(numbers)
print(res)

[4, 16, 36]

In [50]:
#user input
def filtered_and_square(numbers):
  return[num**2 for num in numbers if num%2 != 0]

user_input = input('Enter numbers seperated by space: ')
numbers = list(map(int, user_input.split()))
res = filtered_and_square(numbers)
print(res)

Enter numbers seperated by space: 1 2 3
[1, 9]

In [52]:
def square_and_filtered_dict(numbers):
  return{num: num**2 for num in numbers if num%2 == 0}

numbers = [1,2,3,4,5,6]
res = square_and_filtered_dict(numbers)
print(res)

{2: 4, 4: 16, 6: 36}

In [64]:
def square_and_filtered_dict(numbers):
  dictionary = {}
  for num in numbers:
    if num % 2==0:
      dictionary[num] = num**2
  return dictionary
user_input = input('enter numbers seperated by space: ')
numbers = list(map(int, user_input.split()))
res = square_and_filtered_dict(numbers)
print(res)

enter numbers seperated by space: 1 2 3 4 5 6
{2: 4, 4: 16, 6: 36}

In [69]:
#dictionary of factorials
def factorial_dict(n):
  factorial = 1
  return {i: (factorial := factorial*i) for i in range(1, n+1)}


n = 5
res = factorial_dict(n)
print(res)

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120}

In [70]:
def factorial_dict(n):
  factorial = 1
  return {i: (factorial := factorial*i) for i in range(1, n+1)}

num = int(input('Enter number: '))
res = factorial_dict(num)
print(res)

Enter number: 5
{1: 1, 2: 2, 3: 6, 4: 24, 5: 120}

In [73]:
def factorial_dict(n):
  result = {}
  fact = 1
  for i in range(1, n+1):
    fact *= i
    result[i] = fact
  return result

num = 5
res = factorial_dict(num)
print(res)

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120}