<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/pythonBegining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Wap to input user's first name and print its length
name=input("Enter your first name. ")
print(len(name))

Enter your first name. shishir
7

In [ ]:
#Wap to find the occurrence of'$' in a string
str1 = "Networth of shishir is Billion $"
print(str1.count('$'))

1

In [ ]:
#Grade based students
name = input("Enter Name: ")
marks = int(input("Enter marks: "))

if(marks>=90):
  grade = "A"
elif(marks >= 80 and marks <=90):
  grade = "B"
elif(marks >= 70 and marks <=80):
  grade = "C"
else:
  grade="D"

print("Grade Score of ",name, "is: ", grade)

Enter Name: Laru
Enter marks: 89
Grade Score of  Laru is:  B

In [ ]:
#Wap to check if a number entered by the user is odd or even
num1 = int(input("Enter number: "))

if num1 % 2 == 0:
  print("Even Number")
else:
  print("Odd Number")

Enter number: 6
Even Number

In [ ]:
#WAP to find the gretest of 3 numbers entered by the user
a = int(input("Enter first number: "))
b = int(input("Enter second number:"))
c = int(input("Enter third number: "))

if (a>=b and a>=c):
  print("First number is largest ", a)
elif(b>=c):
  print("Second number is largest: ", b)
else:
  print("C is largest", c)

Enter first number: 10
Enter second number:12
Enter third number: 11
Second number is largest:  12

In [ ]:
#WAP to check if a number is a multiple of 7 or not

num=int(input("Enter number: "))
if (num % 7 == 0):
  print("This number is multiple of 7", num)
else:
  print("This number is not multipe of 7", num)

Enter number: 49
This number is multiple of 7 49

In [ ]:
#Seperate parameter
print("Name", "Is", "James", sep="**")

Name**Is**James

In [ ]:
name=input("Enter name: ")
print(name, sep="**")

Enter name: hishi
hishi

In [ ]:
#convert decimal number to octal
num = 8
print('%o' % num)

10

In [ ]:
#Display flot number with 2 decimal places
num = 458.888998
print('%.2f' %num)

458.89

In [ ]:
#Accept a list of 5 flot numbers as an input from the user
numbers = []
for i in range(0,5):
  print('Enter number at location, ', i,":")

  item = float(input())

  numbers.append(item)

print("User List", numbers)

Enter number at location,  0 :
10
Enter number at location,  1 :
3.5
Enter number at location,  2 :
6
Enter number at location,  3 :
9.9
Enter number at location,  4 :
8.5
User List [10.0, 3.5, 6.0, 9.9, 8.5]

In [ ]:
#WAP of all content of a given file into a new file by skipping line number 5

#read test.txt
with open("test.txt", "r") as fp:

  #read all lines from a file
  lines = fp.readline()

#open new file in write mode
with open("new_file.txt", "w") as fp:
  count = 0
  #iterate each lines from a test.txt
  for line in lines:
    #skip 5th lines
    if count == 4:
      count += 1
      continue
    else:
      #write current line
      fp.write(line)

    #in each iteration reduce the count
    count += 1

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'