<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/setExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
set1 = {'yellow', 'orange', 'black'}
set2 = {'orange', 'blue', 'pink'}

set1.difference_update(set2)
print(set1)

{'black', 'yellow'}

In [8]:
#remove orange
sampleset = {'yellow', 'orange', 'black'}
print(sampleset.discard('orange'))
print(sampleset)

None
{'black', 'yellow'}

In [15]:
sampleset = {'yellow', 'orange', 'black'}
sampleset.discard('blue')
print(sampleset)

{'black', 'orange', 'yellow'}

In [17]:
sampleset = {'yellow', 'orange', 'black'}
sampleset.update(['blue', 'green', 'red'])
print(sampleset)

{'blue', 'black', 'yellow', 'orange', 'green', 'red'}

In [21]:
set1 = {'yellow', 'orange', 'black'}
set2 = {'orange', 'blue', 'pink'}
set3 = set2.difference(set1)
print(set3)

{'blue', 'pink'}

In [22]:
sampleset = {'yellow', 'orange', 'black'}
sampleset.add('blue')
sampleset.add('orange')
print(sampleset)

{'black', 'orange', 'blue', 'yellow'}

In [23]:
set1 = {10,20,30,40}
set2 = {50,20,'10',60}
set3 = set1.union(set2)
print(set3)

{40, 10, '10', 50, 20, 60, 30}

In [24]:
aset = {1,'pynative', ('abc', 'def'), True}
print(aset)

{1, 'pynative', ('abc', 'def')}

In [32]:
#copy 2 sets
#set2 = set1.copy()
#set2 = set(set1)
print(set2.update(set1))
print(set2)

None
{40, 10, 20, 30}

In [36]:
set1 = {10, 20, 30, 40, 50}
set2 = {20,50,60,80,70,10}

print(set1.issubset(set2))
print(set2.issuperset(set1))

False
False

In [41]:
#Add a list of elements to a set
sampleset = {'yellow', 'orange', 'black'}
sample_list = ['blue', 'green', 'red']
sampleset.update(sample_list)
print(sampleset)

{'blue', 'black', 'yellow', 'orange', 'green', 'red'}

In [42]:
#return a new set of identical items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30,40,50,60,70}

set3 = set1.intersection(set2)
print(set3)

{40, 50, 30}

In [43]:
print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [45]:
#update the first set with items that don't exist in the second set
set1 = {10,20,30}
set2 = {20,40,50}
print(set1.difference_update(set2))
print(set1)

None
{10, 30}

In [52]:
#remove items from the set at once (set1 - set2)
set1 = {10,20,30,40,50}
set1.difference_update({10,20,30})
print(set1)

{50, 40}

In [53]:
#return a set of elements present in set A or Set B, but not both
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [55]:
#check if two sets have any elements in common. If yes display the common elements
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
print("Two sets have items in common")
print(set1.intersection(set2))

Two sets have items in common
{10}

In [57]:
#update set1 by adding items from set2, except common items
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}

print(set1.symmetric_difference_update(set2))
print(set1)

None
{20, 70, 10, 60}

In [61]:
#Remove items from set1 that are not common to both set1 and set2
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}