<a href="https://colab.research.google.com/github/chaudhary-dotcom/Python-Beginning-/blob/main/TupleExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
aTuple = (100,200,300,400,500)

print(aTuple[-2])
print(aTuple[-4:-1])

400
(200, 300, 400)

In [4]:
aTuple=('orange')
print(type(aTuple))

<class 'str'>

In [6]:
tuple1 = 1120,'a'
print(type(tuple1))

<class 'tuple'>

In [10]:
aTuple ='yellow', 20, 'red'
a,b,c = aTuple
print(a)
print(b)
print(c)

yellow
20
red

In [11]:
aTuple =(10,20,30,40,50,60,70,80)
print(aTuple[2:5], aTuple[:4], aTuple[3:])

(30, 40, 50) (10, 20, 30, 40) (40, 50, 60, 70, 80)

In [15]:
aTuple = ('orange', [10,20,30], (5,15,25))
print(aTuple[1][1])
print(aTuple[2][0])
print(aTuple[2][2])

20
5
25

In [18]:
aTuple = (100,)
print(aTuple * 4)

(100, 100, 100, 100)

In [24]:
#Reverse the tuple
tuple1 = (10,20,30,40,50)
print(tuple1[::-1])

(50, 40, 30, 20, 10)

In [26]:
#Acess value 20 from the tuple
tuple1 = ('orange', [10,20,30,40], (5,15,25))
print(tuple1[1][1])

20

In [28]:
#Create a tuple with single item 50
tuple1 = 50,
print(tuple1)
print(type(tuple1))

(50,)
<class 'tuple'>

In [33]:
#unpack the tuple into 4 variables
tuple1 = (10,20,30,40)
a,b,c,d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [41]:
#swap two tuples in python

tuple1 = (11,22)
tuple2 = (99,88)
tuple1, tuple2 = tuple2, tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [44]:
#copy specific elements from one tuple to a new tuple
tuple1 = (11,22,33,44,55,66)
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)

In [45]:
#Modify the tuple
tuple1 = (11, [22,33], 44,55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

In [47]:
#sort a tuple of tuples by 2nd item
tuple1 = (('a', 23), ('b',37), ('c',11),('d',29))
a, b, c, d = tuple1
print(c,a,b,d)

('c', 11) ('a', 23) ('b', 37) ('d', 29)

In [ ]:
tuple1 = tuple

In [49]:
tuple1 = tuple(sorted(list(tuple1), key = lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [50]:
#counts the number of occurance of item 50 from a tuple
tuple1 = (50,10,60,70,50)
tuple2 =tuple1.count(50)
print(tuple2)

2

In [1]:
#check if all items in the tuple are the same
def check(t):
  return all(i==t[0] for i in t)
tuple1 = (45,45,45,45)
print(check(tuple1))

True